.Container {
  margin: auto;
}

.Box {
  /* Relevant to centering the box */
  max-width: 80%;
  margin: auto;
  /* */

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.9);
  padding: 1em 2em;
  font-size: 1.5em;
  border-radius: 8px;
}

.Button {
  padding: 1em 2em;
  background: rgb(254, 228, 109);
  border: 1em rgb(195, 230, 253);
  font-size: 0.7em;
  border-radius: 8px;
}
